{% extends 'base.html.twig' %}

{% block title %}Apps index
{% endblock %}

{% block body %}

	<main class="w-full text-black h-[90vh] flex justify-center items-center ">


		<div class="flex justify-center ">


			<div class="card p-4 bg-[#145787]  w-96  text-white rounded-lg">

				<div class="flex flex-col  items-left">
                    
					<div class="w-full h-36">
						<img src="{{vich_uploader_asset(application, 'imageFile')}}" style="object-fit: cover;" class="w-full h-full"/>

					</div>

					<div class="UserInfo text-left mt-5 ">
						<b> Nom:</b> 
						<h5 class=" text-lg font-bold mb-3">
						{{ application.nom}}
						</h5>
					</div>

				</div>

				<div class="descript my-2 mb-5">
					<b>Description:</b>
					<p class="text-light font-bold  text-ellipsis overflow-hidden Text_Description text-md">
						{{ application.description}}
					</p>

				</div>

			</div>


		</div>
	</main>

{% endblock %}
