
{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
{# 	
    {% for item in apps %}
        {{item.url}}
    {% endfor %} #}
    {{apps.url}}
{# <a herf="{{ path()}}" >back to list</a> #}
{% endblock %}