<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" /> #}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}


		{% endblock %}
		{% block javascripts %}
			{# <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script> #}
			{# <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script> #}

			{{ encore_entry_script_tags('app') }}
			<script type="module">
				// Initialization for ES Users
			import {Dropdown, Collapse, initTE} from "tw-elements";

			initTE({Dropdown, Collapse});
			</script>
		{% endblock %}
	</head>
	<body>
		{% include "./partial/header.html.twig" %}
		{% block body %}
		{% endblock %}
		{# {% include "./partial/footer.html.twig" %} #}
	</body>

</html>
