{% extends 'base.html.twig' %}

{% block title %}Edit Apps{% endblock %}


{% block body %}

	<div class="">
		
		<div>
			{{ include('apps/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
		<div>
			
		</div>
	</div>


	{# {{ include('apps/_delete_form.html.twig') }} #}
{% endblock %}
