
{% extends 'base.html.twig' %}

{% block title %}New Apps{% endblock %}

{% block body %}
    <h1>Create new Apps</h1>

    {{ include('apps/_form.html.twig') }}

    <a class="rounded-full border px-4 bg-indigo-500 py-1 text-white" href="{{ path('app_apps_index') }}">back to list</a>
{% endblock %}
